@charset "UTF-8";
html, body{
  margin: 0; padding: 0;
  font-size: 100%;
  font-family: 'Microsoft YaHei', '微软雅黑', 'Arial', sans-serif;
}

/**
 * common container
 */
.container{
  width: 100%;
  margin: 10em 0; /* temp */
}

/**
 * search bar
 */
.search{
  opacity: .85; transition: opacity .5s;
  display:-moz-box;
  display:-webkit-box;
  display:box;
  margin: 0 auto; padding: 0;
  width: 431px;
  height: 2em;
  text-align: center;
}
.search:hover{
  opacity: 1; transition: opacity .5s;
}

.search .ipt{
  display: inline-block;
  background-color: white;
  width: 325px;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 2px;
}
.search .ipt a{
  float: left;
  width: 2em; height: 2em;
  padding: 0; margin: 0;
  background: url('search-logo.png');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 5px 5px;
  cursor: pointer;
}
.search .ipt input{
  font-size: 1em;
  border: none; outline: none;
  line-height: 2em;
  -webkit-appearance: none;
  padding: 0;
  width: 290px;
}

#search-kwd{
  display: inline-block;
}

.button{
  margin: 0 0 0 3px;
}

.search .btn{
  width: 100px; height: 2em;
  line-height: 2em;
  background-color: rgb(98, 172, 255); transition: background-color .5s;
  border: 1px solid rgb(75, 157, 229);
  border-radius: 2px;
  color: white;
  display: inline-block;
  cursor: pointer;
}
.search .btn:hover{
  background-color: rgb(80, 150, 220); transition: background-color .5s;
}

/**
 * site gallery
 */
#site-gallery{
  width: calc( 280px * 4 + 10px * 2 * 4 + 1px * 2 * 4 );
  height: calc( 160px * 2 + 10px * 2 * 2 + 1px * 2 * 2 );
  margin: 0 auto; /* align center */
  display:-moz-box; display:-webkit-box; display:box;
}
a.site-link{
  display: inline-block;
  margin: 8px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 2px;
  box-shadow: none; transition: box-shadow .3s;
  opacity: .9; transition: opacity .5s;
}
a.site-link:hover{
  box-shadow: 0 1px 5px 2px rgba(0,0,0,.3), 0 3px 10px 5px rgba(0,0,0,.1); transition: box-shadow .3s;
  opacity: 1; transition: opacity .5s;
}

.bar{
  visibility: hidden;
  position: absolute;
  display:-moz-box; display:-webkit-box; display:box;
  width: 280px; height: 25px;
  background-color: rgba(50, 50, 50, .7);
  text-align: center;
  color: white;
}
a.site-link:hover .bar{
  visibility: visible;
  z-index: 999;
}
.bar .site-favicon{
  width: 25px; height: 25px;
  line-height: 25px;
}
.bar .site-favicon img{
  width: 16px; height: 16px;
}
.bar .site-title {
  width: calc(100% - 25px - 1em);
  text-align: left;
  margin-left: 1em;
  line-height: 25px;
  overflow: hidden;
  -moz-mask-image: linear-gradient(to right, #000, 5em, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-image: linear-gradient(to right, #000, 5em, rgba(0,0,0,1), rgba(0,0,0,0));
  mask-image: linear-gradient(to right, #000, 5em, rgba(0,0,0,1), rgba(0,0,0,0));
}

.site-thumb{
  width: 280px; height: 160px;
  background-color: white;
}
.site-thumb img{
  width: 280px; height: 160px;
  position: absolute;
}

/**
 * background
 */
#background{
  background: url('background/test.jpg') no-repeat;
  width: 100%; height: 100%;
  min-width: 1208px ; min-height: calc( 32px + 20em + 364px + 10em );
  position: absolute; top: 0; left: 0;
  z-index: -999;
}
#background #bg-copyright{
  background-color: rgba(20, 20, 20, .5);
  color: rgba(220, 220, 220, .8);
  font-size: 1em;
  width: 100%;
  position: fixed; bottom: 0;
}
#background #bg-copyright::before{
  content: "I Love You!";
  color: rgba(255, 255, 255, 0);
  font-size: calc( 1em / 10 );
}
